.main-content {
  height: calc(100vh - 80px);
  margin: 0;
  background-color: #edeff0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-skills-form {
  background-color: white;
  width: 1200px;
  height: 700px;
  border-radius: 3px;
}

.header {
  width: 100%;
  height: 20%;
  background-color: #A3C9A8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header p {
  font-size: 40px;
  color: white;
}

.body{
  height: 80%;
  display: flex;
}

.body button {
  background-color: #528859;
  color: white;
  font-size: 16px;
}

.body button:hover {
  background-color: #77AE7E;
  text-decoration: underline;
}

.skill-col {
  height: 100%;
  width: 50%;
  padding: 20px;
}

.select {
  margin: 20px 20px 20px 0;
}

.body input {
  font-size: 16px;
  height: 32px;
}
