@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-y:scroll;
  font-size: 16px;
}

.ui-state-highlight, .ui-slider-range {
  background-color: #A3C9A8!important;
}
.ui-dropdown-filter-icon {
  color: #A3C9A8!important;
}

.ui-dropdown {
  border: 1px solid #ccc!important;
}

.ui-g {
  margin-bottom: 20px;
}

.ui-chkbox-icon {
  background-color: #A3C9A8!important;
}

.ui-chkbox-box.ui-state-active, .ui-chkbox-box.ui-state-focus {
  border-color: #A3C9A8!important;
}

.ui-tabview-panels {
  height: 93%;
}

.ui-tabview, .ui-tabview-top {
  height: 100%;
}

.ui-tabview, .ui-tabview-top, .ui-tabview-nav, li.ui-state-active, li.ui-state-active:hover{
  background-color: #A3C9A8!important;
  border: 1px solid #A3C9A8!important;
}

body .ui-widget {
  font-size: 16px;
}

body .ui-widget-content p {
  margin: 20px;
  padding: 0 10px 10px;
  border-bottom: 1px solid #eee;
}

body .ui-tabview .ui-tabview-panels .ui-tabview-panel {
  padding: 20px 0;
}
