header {
  color: #fff;
  background-color: #A3C9A8;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: baseline;
}

p {
  font-size: 50px;
  text-transform: uppercase;
  margin-left: 30px;
  cursor: pointer;
  outline: none;
}

span {
  font-size: 20px;
  margin-left: 30px;
  cursor: pointer;
  outline: none;
}

.log {
  position: absolute;
  right: 30px;
  top: 32px;
  cursor: pointer;
  outline: none;
}

.log:hover {
  text-decoration: underline;
}

span:hover {
  text-decoration: underline;
}
