<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="form-group input-content">
          <input type="text" class="form-control" id="search-content" [value]="inputClicked ? '' : inputText"
                 (focus)="inputClicked = !inputClicked" (blur)="inputClicked = !inputClicked">
          <button type="button" class="btn">Искать</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-us">
  <div class="interactive-map">
    <img src="../../assets/circle.png">
    <p>Открой мир свободного развития с нами!</p>
  </div>

  <div class="cardholder">
    <div class="card">
      <img src="../../assets/look-custom.png">

      <div class="card-text">
        <h3>Найди то, что давно искал</h3>
        <p>Самая большая база тренеров для любых навыков, которые только можно представить. С её помощью найти подходящего преподавателя - проще простого!</p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/piggy-custom.png">

      <div class="card-text">
        <h3>Экономь на учебе</h3>

        <p>Надоело тратить большие суммы на очередные курсы? В нашем сервисе вы сможете найти тренера по доступной цене, в обмен на другие занятия или даже бесплатно!</p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/like-custom.png">

      <div class="card-text">
        <h3>Оценивай преподавателей</h3>

        <p>Пиши отзывы про людей, с которыми занимаешься. Каждый сможет видеть рейтинг преподавателя, основанный на ваших комментариях, и выбрать тренера по душе!</p>
      </div>
    </div>
  </div>

  <div class="become-coach">
    <img src="../../assets/sort-down.svg">

    <div class="container coach-contain">
      <div class="row">
        <div class="col-md-6 coach-text-container">
          <p>Стань тренером портала LOOKUP прямо сейчас!</p>
          <div class="coach-text">
            <span>Давно замечаешь за собой скрытые таланты к преподованию, но не знал куда идти?
              Ты легко можешь стать чьим-то куратором, зарегистрировавшись в качестве куратора на нашем портале.
              Выбирай навыки, которыми владеешь, страну и город, опиши себя - и жди заявок на начало курса тренировок с тобой!</span>
          </div>

          <button type="button" class="btn become-btn" [routerLink]="['/register']">Стать тренером</button>
        </div>
        <div class="col-md-6 coach-img">
        </div>
      </div>
    </div>
  </div>

  <div class="start-using">
    <div class="start-using-text">
      <p>Каждый день мы работаем для того, чтобы вы нашли своё настоящее призвание и открыли в себе новые неожиданные таланты.
        Уже почти 1000 пользователей выбрали преподавателей для развития самых разных навыков и успешно занимаются с ними!
        Присоединяйся к нам, ищи своих тренеров в любом городе Украины и на територии СНГ, рассказывай о нас и расширяй аудиторию портала LOOKUP!</p>
      <button type="button" class="btn start-btn" [routerLink]="['/register']">Начать учиться!</button>
    </div>
  </div>
</div>

