<div class="coach-choose">
  <div class="coach-choose-inside" *ngIf="panelAvailable">
    <div class="category">
      <p>Категория</p>
      <p-dropdown #d1 [options]="categories" filter="true" class="drop" optionLabel="name" [autoWidth]="false"
                  [style]="{'width':'180px'}" [(ngModel)]="selectedCategory" (onChange)="selectLesson()" (onFocus)="clearFilter(d1)">
      </p-dropdown>
    </div>

    <div class="category">
      <p>Занятие</p>
      <p-dropdown #d2 [options]="shownSkills" filter="true" class="drop" optionLabel="name" [autoWidth]="false" [style]="{'width':'180px'}" [(ngModel)]="selectedSkill">
      </p-dropdown>
    </div>

    <div class="category">
      <p>Стоимость</p>
      <p>{{rangeValues[0] + ' - ' + rangeValues[1]}}</p>
      <p-slider [(ngModel)]="rangeValues" [min]="0" [max]="1000" [style]="{'width':'180px'}" [range]="true" [step]="10"></p-slider>
    </div>

    <div class="category">
      <p>Город</p>
      <p-dropdown #d4 [options]="cities" filter="true" class="drop" optionLabel="name" [autoWidth]="false" [style]="{'width':'180px'}" [(ngModel)]="selectedCity">
      </p-dropdown>
    </div>

    <div class="category">
      <button type="button" class="btn" (click)="findCoaches()">Искать</button>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="coaches-block">
    <div class="coach" *ngFor="let coach of coaches">
      <div class="container-fluid zero">
        <div class="row zero">
          <div class="col-md-2 zero avatar">
          </div>
          <div class="col-md-8">
            <span>{{coach.login}}</span>
            <p>{{coach.description}}</p>
          </div>
          <div class="col-md-2 zero">

            <div class="coach-info">
              <div class="coach-info-inside">
                <div class="star">
                  <img src="../../assets/star.svg">
                </div>
                <div class="mark">
                  <span>5.0</span>
                </div>
              </div>
            </div>
            <div class="coach-info">
              <div class="coach-info-inside">
                <span>{{coach.price}} грн/час</span>
              </div>
            </div>
            <div class="coach-info">
              <div class="coach-info-inside">
                <button type="button" class="btn" (click)="addChat(coach.id)">Написать тренеру</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
