.main-content {
  margin: 0;
  background-color: #edeff0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.coaches-block {
  background-color: white;
  width: 900px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 30px 0;
  overflow: hidden;
}

.coach {
  background-color: #edeff0;
  width: 800px;
  max-height: 200px;
  border-radius: 3px;
  margin: 0 0 20px 0;
  padding: 10px;
  overflow: hidden;
}

.coach span {
  font-weight: bold;
}

.coach img {
  width: 100%;
  height: auto;
}

.btn {
  height: 100%;
  width: 100%;
  padding: 0;
}

.btn:hover {
  background-color: #A3C9A8;
  color: white;
  text-decoration: underline;
}

.zero {
  padding: 0;
  margin: 0;
  height: 100%;
}

.avatar {
  background: url("../../assets/avatar.jpg");
  background-size: cover;
  height: 180px;
  border-radius: 3px;
}

.coach-info {
  height: calc(200px/3 - 7px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coach-info-inside {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 221, 221);
  border-radius: 4px;
  padding: 3px;
}

.coach-info-inside img {
  height: 100%;
  width: auto;
}

.coach-info-inside span {
  font-size: 14px;
  font-weight: 400;
}

.coach-info-inside:hover {
  background-color: #A3C9A8;
  color: white;
  text-decoration: underline;
}

.mark {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
}

.star {
  width: 30%;
  height: 100%;
}

/*User choosing section*/

.coach-choose {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coach-choose-inside {
  height: 80%;
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

