.main-content {
  height: calc(100vh - 80px);
  margin: 0;
  background-color: #edeff0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-form {
  background-color: white;
  width: 1200px;
  height: 700px;
  border-radius: 3px;
}
